
/* If you want to use custom colors instead of material palette, define it here */
$mat-custom: (
  50: #124191,
  100:#0c3069,
  200: #061329,
  300: #124191,
  400: #124191,
  500: #124191,
  600: #124191,
  700: #124191,
  800: #124191,
  900: #124191,
  A100: #00c9ff,
  A200: #0098cc,
  A400: #6bfcff,
  A700: #124191,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: white,
    500: white,
    600: $white-87-opacity,
    700: $white-87-opacity,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: $black-87-opacity,
    A400: white,
    A700: $white-87-opacity,
  )
)
