<!--The content below is only a placeholder and can be replaced.-->
<!-- It is recommended to move changing content to separate files and
  leave here just the base structure e.g toolbar.-->

<!-- custom theme is connected to css classes in assets/style/app-theme.scss -->
<div [className]="selectedTheme" class="mat-app-background">
    <mat-toolbar color="primary">Material Toolbar</mat-toolbar>
    <mat-sidenav-container class="container">
        <mat-sidenav mode="side" opened>
            <mat-nav-list>
                <a mat-list-item routerLink="." >Mat List Item</a>
                <a mat-list-item routerLink="." >Mat List Item</a>
                <a mat-list-item routerLink="." >Mat List Item</a>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
          <app-my-material-component></app-my-material-component>
          <button mat-button (click)="selectedTheme = ''">Default Theme</button>
          <button mat-button (click)="selectedTheme = 'app-dark-theme'">Dark Theme</button>
          <button mat-button (click)="selectedTheme = 'app-light-theme'">Light Theme</button>
        </mat-sidenav-content>
      </mat-sidenav-container>
  </div>

<!--Link to app-routing.module.ts-->
<router-outlet></router-outlet>
<!--The content below is only a placeholder and can be replaced.-->
<!-- It is recommended to move changing content to separate files and
  leave here just the base structure e.g toolbar.-->
