/* You can add global styles to this file, and also import other style files */

/* THEMES */
/* See more about theming here https://material.angular.io/guide/theming */

/* Built-in Material Themes
/* Use primary/accent colors in material components by defining color="primary" or color="accent" */
// @import "~@angular/material/prebuilt-themes/indigo-pink.css";
// @import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
// @import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
// @import '~@angular/material/prebuilt-themes/purple-green.css';

body {
  margin: 0;
  width: 100%;
  height: 100%;
}


