

.mat-table {
  width: 100%;
}

/*.mat-paginator {
  position: fixed;
  top: 50%;
  margin: 1em auto;
  width: 74%;
}*/

.example-container {
  position: relative;
}

.example-table-container {
  position: relative;
  max-height: 400px;
  overflow: auto;
}
